body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.board {
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #000000;
  background-color: #ffffff;
  width: min(90vw, 54vh);
  height: min(90vw, 54vh);
}
.cell {
  border: solid 2px #000000;
  box-sizing: border-box;
  width: min(30vw, 18vh);
  height: min(30vw, 18vh);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.animated-gradient {
  background: linear-gradient(60deg, #0f0756, #470303);
  background-size: 200% 200%;
  height: 100vh;
  width: 100%;
  animation: gradient-shift 10s linear infinite;
}
.play-turn {
  margin-top: 0;
}
.error-message {
  margin: 0;
  margin-top: 15;
  padding: 5;
  border-radius: 10;
  background-color: #ffffff;
  color: red;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.refreshIcon {
  color: #ffffff;
  font-size: 20;
  transition: transform 0.3s ease;
}
.container:hover {
  opacity: 0.8;
}
.spin {
  animation: spin 1s;
}
.X, .O{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.X {
  color: red;
}
.O {
  color: blue;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
