body {
  margin: 0;
}
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.header {
  color: #ffffff;
}
.board {
  border: solid 2px #ffffff;
  height: 60vh;
  width: 60vh;
}
.animated-gradient {
  background: linear-gradient(60deg, #0f0756, #470303);
  background-size: 200% 200%;
  height: 100vh;
  width: 100%;
  animation: gradient-shift 10s linear infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
